header {
    background-color: white;
    padding: 3px;
    display: flex;
    margin: 15px;
    justify-content: flex-start;
    gap: 320px;
    border-radius: 15px;
}
.header ul {
    border-radius: 30px;
    border: 2px solid yellow;
}
.header li {
    padding: 8px;
    margin: 3px;
    border-radius: 15px;
    font-size: 20px;
    font-style: bold;
    background-color:yellow;
    text-decoration: none;
}
.header h1 {
    justify-content: center;
    font-style: initial;
    text-align:right;
}
.event video{
    border-radius: 75px;
    padding: 20px;
    border: 2px solid rgb(252, 248, 248);
    text-align: center;
    justify-content: center;
}
.event{
    justify-content: center;
    text-align: center;
    padding: 5px;
}
.event h3{
    border: 3px solid white;
    padding: 8px;
    border-radius: 25px;
    text-shadow: 20px;
    margin: 15px;
    background-color: limegreen;
    color: yellow;
    text-size-adjust: 10px;
}
.header li a{
    color: black;
    text-decoration: none;
}
.EVENTLINK a{
    list-style: none;
    text-decoration: none;
    color: yellow;
}
.EVENTLINK ul{
    list-style: none;
    margin: 20px;
    justify-content: left;
    margin-right: 920px;
    
}
.EVENTLINK li{
    border-radius: 25px;
    padding: 5px;
    border: 2px solid white;
    background-color: limegreen;
}
.footer {
    padding: 3px;
    background-color: rgb(2, 2, 71);
    border-radius: 25px;
    color: white;
    text-align: center;
    border: 2px solid white;
}
.foot {
    text-align: center;
    padding: 60px;
    background-color: limegreen;
    border: 1px solid white;
    border-radius: 25px;
}
.foot img {
    text-align: center;
    border: 2px solid white;
    border-radius: 70px;
}